/* -------------------- */
/*-- GENERAL --*/
* {
    margin: 0;
    padding: 0;
}

body {
    color: #444444;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 1em;
    background-color: #F2F2F2;
}

a {
    color: #DA4453;
}

h1 {
    color: #DA4453;
    font-size: 1.5em;
    margin-bottom: 15px;
}
    
h2 {
    color: #DA4453;
    font-size: 1.3em;
    margin-bottom: 15px;
}

p{
    margin-bottom: 10px;
}

.error{
    color: red;
}

table {
    border: solid 1px #777777;
    border-collapse: collapse;
}

th {
    border-bottom: solid 2px;
    border-left: solid 1px;
    border-right: solid 1px;
}

td {
    border: solid 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: auto;
}

/* Formulaires */

form{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
}

label{
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

input{
    width: 200px;
    margin-right: 30px;
    border: solid 1px #DA4453;
    border-radius: 4px;
    padding: 2px;
}

select {
    width: 200px;
    margin-right: 30px;
    border: solid 1px #DA4453;
    border-radius: 4px;
    padding: 2px;
}

textarea{
    margin-right: 30px;
    border: solid 1px #DA4453;
    border-radius: 4px;
}

input:focus {
    background: #FA98A1;
    border: solid 1px #DA4453;
    border-radius: 4px;
    padding: 2px;
}

input[type=radio]{
    width: auto;
    margin-right: 10px;
}

.radio{
    margin-left: 30px;
}

input[type=submit]{
    margin-left: 30px;
    margin-top: 15px;
    padding: 5px 15px;
    background-color: #363636;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #363636;
    border: solid 1px #363636;
    margin-bottom: 10px;
}

input[type=submit]:hover{
   color: #DA4453;
}

input[type=submit]:focus{
   color: #DA4453;
   box-shadow: none;
}

#newsletterlink {
    color: #DA4453;
    text-decoration: underline;
    background-color: transparent;
    margin-left: 30px;
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: normal;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
}
/* Formulaires */

/*-- FIN GENERAL --*/
/* -------------------- */
/*-- SECTION HEADER --*/
#header {
    height: 80px;
    position: relative;
    background-color: #363636;
}

.logo {
    width: 1024px;
    margin: 0 auto;
    background-color: #363636;
}

.logo img {
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: -15px;
}

#header nav {
    height: 80px;
    width: 1024px;
    margin: 0 auto;
    background-color: #363636;
    color: #F2F2F2;
}

#header nav li {
    display: inline-block;
    background-color: #363636;
    margin-right: 15px;
    padding-top: 20px;
}

#header nav ul {
    float: right;
    margin-right: 150px;
    background-color: #363636;
}

#header nav a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #363636;
    color: #F2F2F2;
}

#header nav li:first-letter {
    font-size: 1.4em;
}
    
#header nav a:hover{
    color: #DA4453;
}

/*-- FIN SECTION HEADER --*/
/* -------------------- */
/*-- SECTION CONNEXION --*/
#connexion {
    height: 35px;
    background-color: #363636;
}

.connexion {
    width: 1024px;
    margin: 0 auto;
}

.connexion ul {
    float: right;
    margin-left: 15px;
    background-color: #363636;
}

.connexion li {
    display: inline-block;
    background-color: #363636;
    margin-right: 5px;
    font-size: 16px;
    padding-top: 3px;
}

.connexion a {
    text-decoration: none;
    background-color: #363636;
    color: #F2F2F2;
}

.connexion a:hover {
    color: #DA4453;
}

.connexion p {
    background-color: #363636;
    color: #F2F2F2;
}

/*-- FIN SECTION CONNEXION --*/

/*-- SECTION CONNEXION --*/
#adminmenu {
    height: 35px;
    background-color: #363636;
    margin-top: 0px;
}

.adminmenu {
    width: 1024px;
    margin: 0 auto;
}

.adminmenu ul {
    float: right;
    margin-left: 15px;
    background-color: #363636;
}

.adminmenu li {
    display: inline-block;
    background-color: #363636;
    margin-right: 5px;
    font-size: 16px;
    padding-top: 3px;
}

.adminmenu a {
    text-decoration: none;
    background-color: #363636;
    color: #F2F2F2;
}

.adminmenu a:hover {
    color: #DA4453;
}

.adminmenu p {
    background-color: #363636;
    color: #F2F2F2;
}

/*-- FIN SECTION ADMIN --*/
/* -------------------- */
/*-- SECTION FOOTER --*/
#footer {
    height: 90px;
    background-color: #363636;
    color: #F2F2F2;
    text-align: center;
}

#footer nav {
    width: 1024px;
    margin: 0 auto;
    background-color: #363636;
    color: #F2F2F2;
}

#footer nav ul {
    display: block;
    background-color: #363636;
    margin: 0 auto;
}

#footer nav li {
    display: inline-block;
    background-color: #363636;
    margin-right: 15px;
    padding-top: 10px;
}

#footer nav a, nav p {
    text-decoration: none;
    background-color: #363636;
    color: #F2F2F2;
}

#footer nav a:hover{
    color: #DA4453;
}

.logo_footer {
    width: 1024px;
    margin: 0 auto;
    background-color: #363636;
    text-align: center;
}

.logo_footer img {
    margin-top: 7px;
}

/*-- FIN SECTION FOOTER --*/
/* -------------------- */
/*-- SECTION CONTENU --*/
#contenu {
    width: 1024px;
    min-height: 573px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

#contenu p, a {
    background-color: #FFFFFF;
    margin: 0;
}

#presentation {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-left: 5%;
    margin-right: 3%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#dernieres_offres {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 5%;
    margin-top: 0%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#inscription {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#connect {
    width: 88%;
    margin-left: 6%;
}

#profil {
    margin-left: 5%;
}

#lostpass {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

.bloc-gauche {
    width: 45%;
    padding: 10px 10px 15px 15px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    float: left;
}

.bloc-droite {
    width: 45%;
    padding: 10px 10px 15px 15px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    float: right;
}

#contact {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#ajouterSalle {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#envoyernl {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#gestion {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}
    
#reservation {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#promo {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#ajouterProduit {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#rechercher {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#searchparams {
    width: 85%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#searchparams input[type=submit] {
    margin-left: 35%;
}

#searchresults {
    width: 85%;
    margin-left: 5%;
    margin-top: 20px;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#detail {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#general {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    min-height: 150px;
}

#general img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin: 5px;
}

#general p {
    margin-left: 150px;
}

#infos {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    margin-left: 33px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#avis {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

#suggestion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    min-height: 150px;
}

#panier {
    width: 88%;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
}

.cart form {
    margin: 0px;
    padding: 0px;
}

.cart input[type=submit]{
    margin-left: 100px;
    margin-top: -15px;
    background-color: #363636;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #363636;
    border: solid 1px #363636;
}

.button-panier {
    width: 85%;
    margin-left: 34%;
    margin-bottom: 20px;
}

.mea img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin: 5px;
}

.mea {
    display: block;
    width: 90%;
    height: 155px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
}

.mea h3 {
    margin-left: 120px;
    margin-bottom: -10px;
}

.mea span {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mea a {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.res img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin: 5px;
}

.res {
    display: inline-block;
    width: 350px;
    height: 155px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    margin: 5px 5px 5px 50px;
    padding: 5px;
}

.res h3 {
    margin-left: 120px;
    margin-bottom: -10px;
}

.res span {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.res a {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ressearch img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin: 5px;
}

.ressearch {
    display: inline-block;
    width: 350px;
    height: 155px;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    margin: 8px;
    padding: 5px;
}

.ressearch h3 {
    margin-left: 120px;
    margin-bottom: -10px;
}

.ressearch span {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ressearch a {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wordsearch {
    display: inline-block;
    vertical-align: top;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    height: 80px;
    padding: 10px;
}

.datesearch {
    display: inline-block;
    vertical-align: top;
    border: solid 2px #F2F2F2;
    border-radius: 12px;
    height: 80px;
    padding: 10px;
    margin-right: 15px;
}
/*-- FIN SECTION CONTENU --*/